@mixin card-style {
    width: 100%;
    padding: 20px;
    position: relative;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    --tw-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    --tw-shadow-colored: 0 1px 20px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@mixin h6-style {
    font-size: .985rem;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: .0125em;
    font-family: inherit;
    color: rgb(140, 140, 140);
    margin: 0;
}

@mixin title-style {
    margin-bottom: 32px;
    font-size: 1.1rem;
    color: #555;
}