$main-font-family: "Open Sans", sans-serif;
$main-background-color: rgb(244, 247, 250);
$main-font-size: 0.875rem;
$h6-color: rgb(140, 140, 140);
$card-background-color: rgba(255, 255, 255, 0.7);
$notifications-background-color: rgb(242, 248, 255);
$desktop-header-color: rgb(91 107 121 / 1);
$desktop-sidebar-background-color: rgb(63 77 103);
$desktop-sidebar-box-shadow: (0 0 #0000, 0 0 #0000), (0 0 #0000, 0 0 #0000), 1px 0 20px 0 #3f4d67;
$title-style-color: #555;
$title-link-color: #0077b6;
$title-link-hover-color: #023e8a;
$summary-card-all-dates: rgba(255, 115, 0, 0.274);
$summary-card-complete: rgba(9, 255, 0, 0.418);
$summary-card-cancel: rgba(255, 0, 0, 0.253);
$summary-card-on-course: rgba(0, 195, 255, 0.384);
// dark-theme
$main-background-color-dark: rgb(73, 76, 80);
$h6-color-dark: rgb(19, 21, 26);
$card-background-color-dark: rgba(209, 214, 221, 0.747);
$notifications-background-color-dark: rgb(212, 212, 212);
$h5-color-dark: rgb(233, 237, 241);
$desktop-header-color-dark: rgb(34, 36, 37);
$desktop-sidebar-background-color-dark: rgb(34, 45, 66);
$desktop-sidebar-box-shadow-dark: none;
$title-style-color-dark: #b6aeae;
$title-link-color-dark: #3baeec;
$title-link-hover-color-dark: #2469c4;
$summary-card-all-dates-dark: rgba(255, 115, 0, 0.822);
$summary-card-complete-dark: rgba(38, 255, 74, 0.815);
$summary-card-cancel-dark: rgba(248, 102, 102, 0.801);
$summary-card-on-course-dark: rgba(0, 195, 255, 0.801);