@use '/src/scss/styles/' as *;

.table_container {
    @include contanier-style;
    flex: 2;
    width: 100%;

    h2 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th {
        padding: 0.7rem;
        font-size: 0.95rem;
        color: #333;
        border-bottom: 2px solid #ddd;
    }

    td {
        padding: 0.7rem;
        font-size: 0.9rem;
        border-bottom: 1px solid #eee;
    }

    tr:hover {
        background-color: rgba(240, 240, 240, 0.4);
    }
}

/* 🏷️ Badges visuales por estado */
.badge {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}

.pendiente {
    background-color: #016296;
}

.en_curso {
    background-color: #c48c01;
}

.completada {
    background-color: #009b6c;
}

.cancelada {
    background-color: #c52634;
}

.list_container {
    @include contanier-style;
    padding: 10px 22px;
    ul {        
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 12px 0;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
        }
    }
}