@use '/src/scss/styles/' as *;

.card {
    @include card-style;
    cursor: pointer;
    padding: 5ex;
}

.table_wrapper {
    width: 100%;
    overflow-x: auto;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 0.87rem;
        text-align: left;

        thead {
            background-color: #f5f5f5;
        }

        th,
        td {
            padding: 12px 16px;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f9f9f9;
        }
    }
}

.badge {
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    font-size: 0.7rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
}

.status_active {
    background-color: #00942c;
}

.status_inactive {
    background-color: #c97800;
}

.noData {
    text-align: center;
    padding: 16px;
    color: #777;
}

.pagination {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    button {
        padding: 6px 12px;
        border: none;
        background-color: #4caf50;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}