@use '/src/scss/styles/' as *;
@use "/src/scss/utils/" as *;

.activity_container {
    @include padding-left-right;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 100%;
    @include mobile {
        flex-direction: column
    }
    @include tablet {
        flex-direction: column
    }
}


.header_style {
    @include padding-left-right;
    @include header-style;
}