.header_style {
    margin-bottom: 1.5rem;

    h5 {
        font-weight: 500;
        margin-bottom: 0;
        font-size: 20px;
    }
}

.grid_columns {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.5rem;
}



// .card_flex {
//     display: flex;
//     justify-content: space-between;
// }


.flex_wrap {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    width: 100%;
    // margin: -12px;
}

.col_wide_left {    
    width: 100%;
    padding-right: 1.6ex;
}

.col_wide_right {    
    width: 100%;
    padding-left: 1.6ex;
}