.header_style {
    margin-bottom: 1.5rem;

    h5 {
        font-weight: 500;
        margin-bottom: 0;
        font-size: 20px;
    }
}

.grid_columns {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.5rem;
}

.flex_wrap {
    display: flex;
    flex-wrap: nowrap; // nunca se apilan
    overflow-x: auto; // si no caben, aparece scroll horizontal
    gap: 1.5rem; // espacio entre charts
    width: 100%;
}

.col_wide_left {
    width: 100%;
}

.col_wide_right {
    width: 100%;
}

.table_container {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}