@use '/src/scss/utils/' as *;
@use '/src/scss/styles/' as *;

.header_style {
    @include padding-left-right;
    @include header-style;
}

.grid_columns {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 1.5rem;
    @include padding-left-right;
    @include mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));   
        padding: 1ex;     
        gap: .5rem;
    }
}

.flex_wrap {
    padding-top: 14px;
    padding-bottom: 12px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.5rem;
    width: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 1.5rem;
    @include mobile {
        flex-direction: column;
    }
}

.col_wide_left {
    width: 100%;
}

.col_wide_right {
    width: 100%;
}

.table_container {
    width: 100%;    
}

.no_pointer_table_ev {
    pointer-events: none;
}

.header_section {
    display: flex;
    align-items: center;
    // justify-content: space-between; // separa el título y el enlace
    margin-bottom: 32px;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.link {
    font-size: 0.95rem;
    color: var(--title-link-color);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 6px;

    &::after {
        content: "›";
        font-size: 1.1rem;
        color: var(--title-link-color);
        transition: transform 0.2s ease;
    }

    &:hover {
        color: var(--title-link-hover-color);

        &::after {
            transform: translateX(3px); // sutil movimiento al pasar el cursor
        }
    }

    &:active {
        opacity: 0.7;
    }
}

.title {
    @include title-style;
    margin: 0;
}