@forward '/src/scss/base/';
@use '/src/scss/styles/' as *;

.summary_flex {
    @include padding-left-right;
    // padding-top: 4px;
    display: flex;
    column-gap: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow: hidden;
    margin-bottom: 1.8rem;
}

.card_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    h2 {
        margin: 0;
        font-size: 1rem;
    }

    span {
        font-size: 2rem;
        font-weight: 700;
    }
}

.summary_flex > div {
    flex: 1 1 220px;
}

.all_appmnts_style {
    @include card-style;
    @include summary-card-style(var(--summary-card-all-dates));    
}

.complete_style {
    @include card-style;
    @include summary-card-style(var(--summary-card-complete));
}

.cancel_style {
    @include card-style;
    @include summary-card-style(var(--summary-card-cancel));
}

.on_course_style {
    @include card-style;
    @include summary-card-style(var(--summary-card-on-course));
}