@use '/src/scss/utils/' as *;

.dashboard_container {
    position: relative;
    top: 40px;
    min-height: calc(100vh - 135px);
    margin-left: 264px;
    transform: translateX(0px);
    transition: all 0.3s ease;
    @include mobile {
        margin-left: 0;
    }
    
    &.wide_dashboard {
        transform: translateX(-240px);
    }
}

.dashboard_content {
    padding: 2rem;
    @include mobile {
        padding: .70rem;
    }
}