@forward 'base';

html {
    tab-size: 4;
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

body {
    margin: 0;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    background-color: var(--main-background-color);
    font-feature-settings: "salt";
    font-variation-settings: normal;
    line-height: 1.5;
}